body {
  font-family: Arial, sans-serif;
  width: 260px;
  padding: 10px;
}

button {
  width: 100%;
  padding: 10px;
  margin-bottom: 6px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

#start {
  background-color: green;
  color: white;
}
#start:hover {
  background-color: rgb(1, 97, 1);
  color: white;
}

#stop {
  background-color: red;
  color: white;
}
#stop:hover {
  background-color: rgb(160, 2, 2);
  color: white;
}

ul {
  max-height: 200px;
  overflow-y: auto;
  padding-left: 16px;
}
